.card{
    width:auto; /* El ancho se ajusta automáticamente al contenido */
    height:80px; /* Altura fija de 80 píxeles */
    transition:300ms; /* Duración de las animaciones: 300 milisegundos */
    border-radius:0px 50px 0px 50px; /* Redondea las esquinas superior derecha e inferior izquierda */
    box-shadow: 10px 5px 10px rgb(33, 34, 98); /* Agrega una sombra a la imagen */
}

.card:hover{
    transform:scale(1.2); /* Aumenta el tamaño al 120% cuando el cursor pasa encima */
}

body{
    background-color: rgb(132, 192, 234); /* Color de fondo de la página */
    background-image: url('images/logistica.png'); /* Imagen utilizada como fondo */
}