
#venta{
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    border-style: groove;
    border-color: brown;
    width: 100%;
}

#venta th{
    background-color: brown;
    color: white;
    text-align: left;
    padding: 8px;
    border-left: 1px solid brown;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}




#venta td{
    text-align: center;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}

#venta td.producto{
    text-align: left;
}

#venta td.derecha{
    text-align: right;
}

